@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project allows me to test collaboration capabilities on EF Core with fake teamates</p>
</div>

